* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 700px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  background-image: linear-gradient(180deg, #009688 20%, #d8dbd5 20%);
}
.box {
  height: 90%;
  width: 900px;
  background-color: white;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.col-sx {
  float: left;
  width: 30%;
}
.col-dx {
  float: left;
  width: 70%;
}
.col-sx > *,
.col-dx > *{
  padding:0 10px;
}
/* reset generali */
img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

li {
  display: inline-block;
  list-style-type: none;
}
.titolo {
  color: black;
  font-size: 12px;
}
.sottotitolo {
  color: grey;
  font-size: 10px;
}
i {
  color: #b1b1b1;
  padding-left: 5px;
}
/* fine reset generali */

/* inizio col contatti */
/* inizio utente */
.utente {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
}
.utente img {
  margin-top: 5px;
}
.utente ul {
  line-height: 50px;
}
/* fine utente */

/* inizio notifiche */
.notifiche {
  height: 60px;
  background-color: #8edafc;
  display: flex;

}
.notifiche .icona-notifiche {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}
.notifiche .icona-notifiche i {
  color: #8edafc;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
.notifiche > p {
  padding:13px  8px;
}
/* fine notifiche */

/* inizio search */
.search {
  height: 25px;
  display: flex;
  background-color: #f5eaea;
}
.search i {
  line-height: 25px;
  font-size: 14px;
}
.search input {
  flex-grow: 1;
  font-size: 9px;
  border: none;
  margin: 3px 4px;
  border-radius: 5px;
  padding-left: 20px;
}

/* fine search */

/* inizio contatti */
.contatti {
  height: calc(90vh - 135px);
  overflow: auto;
  padding: 0;
}
.contatti li {
  width: 100%;
}
.singolo-contatto{
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 10px;
  height: 55px;
  width: 100%;
}
.singolo-contatto > div {
  flex-grow: 1;
}
.contatti li:hover {
  background-color: #eaeaea;
}
.contatti li span  {
  color: grey;
  font-size: 10px;
}
/* fine contatti */
/* fine col contatti */

/* inizio col messaggi */
.col-dx .singolo-contatto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-dx .singolo-contatto p {
  flex-grow: 1;
}
.col-dx .singolo-contatto img {
  margin:0 0 5px 0;

}
.messaggi {
  height: calc(90vh - 90px);
  overflow: auto;
  background-image: url(../img/mine.jpg);
}
.bot-bar {
  height: 40px;
  background-color: #f3eeea;
  display: flex;
  justify-content: space-between;
}
.bot-bar i {
  line-height: 40px;
}
.bot-bar i:last-child {
  display: none;
}
.bot-bar input {
  padding-left: 20px;
  margin: 5px 10px;
  border: none;
  flex-grow: 1;
}
.messaggi-inviati,
.messaggi-ricevuti {
  display: inline-block;
  font-size: 12px;
  background-color: #d5f9ba;
  padding: 10px 10px 13px 10px;
  border-radius: 10px;
  position: relative;
  min-width: 70px;
  max-width: 60%;
  word-wrap: break-word;
  margin: 5px 0;
  float: right;
  clear: both;
}
.messaggi-ricevuti {
  margin-right: auto;
  margin-left: 10px;
  background-color: white;
  float: left;
}
.messaggi-inviati {
  margin-left: auto;
  margin-right: 10px;
}
.messaggi-inviati span,
.messaggi-ricevuti  span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 8px;
  color: gray;
}
.messaggi-inviati span i{
  padding: 0 5px;
}
.messaggi-ricevuti  span i {
  padding: 0 5px;
}
.hidden {
  display: none;
}
.active {
  display: block;
}
.messaggi-ricevuti  span.drop,
.messaggi-inviati span.drop{
  bottom: -22px;
  color:black;
  background-color: white;
  font-size: 12px;
  width: 100px;
  padding: 2px;
  z-index: 100;

}
.messaggi-ricevuti  span.drop {
  left: 0;
}
/* fine col messaggi */
